<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>
<body>
  <div id="mapid" style=" height: 99vh"></div>
  <script>
    // position we will use later
    var lat = -32.953270; 
    var lon = -60.665893;
    // initialize map
    var mymap = L.map('mapid').setView([lat, lon], 12);
    // set map tiles source
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
    }).addTo(mymap);
    // add marker to the map
    //marker = L.marker([lat, lon]).addTo(map);
    // add popup to the marker
    //marker.bindPopup("<b>ACME CO.</b><br />This st. 48<br />New York").openPopup();

  {% for coordenada in coordenadas %}
    var lon = {{ coordenada[0] }}
    var lat = {{ coordenada[1] }}
    var marker = L.marker([lat,lon]).addTo(mymap);
  {% endfor %}    
  </script>   
</body>
</html>